.description {
  position: relative;
  z-index: 1;
  font-size: 3vw;
  text-transform: uppercase;
  color: white;
  margin-top: 30vh;
  margin-left: 10vw;
}

.description p {
  margin: 0;
  position: relative;
}
